body{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Kumbh Sans';
    width: 1440px;
    font-weight: 400;
}
p{
    font-size: 16px;
    color:hsl(0, 0%, 75%)
}
.attribution { position:fixed;font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
#menu-separador{
    display: grid;
    grid-template-rows: 60px 1px;
}
#separador{
    position: absolute;
    top: 110px;
    left: 1px;
    width: 1080px;
    border-bottom: 1px solid hsl(0, 0%,80%);
    opacity: 0.3;
}
#menu{
    display: grid;
    grid-template-columns: 160px 130px;
    align-items: center;
    padding: 20px 10px 10px 150px; 
}
#menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: 80px 50px 50px 50px 50px;
    gap: 30px;
    align-items: center;
}
#menu li {
    font-weight: 400;
    color: hsl(219, 9%, 45%);
}
h5{
    color: hsl(26, 100%, 55%);
    
}
h1{
    font-weight:700;
    font-size: 40px;
}
#alinhar-texto{
    position: relative;
    padding-top: 170px;
    display: grid;
    grid-template-rows: 1px 100px 120px 20px;
    row-gap: 30px;
    width: 400px;
    left: 900px;
}
#qtde_produtos{
    display: grid;
    grid-template-columns: 10px 10px 10px;
    gap: 30px;
    align-items: center; 
    justify-content: center;
}
.botão{
    width: 60px;
    height: 50px;
    text-align:center;
    background-color: hsl(223, 64%, 96%);
    border-color: transparent;
    color: hsl(26, 100%, 55%);
    font-size: 20px;
}
.arredondar{
    border-radius: 8px;
}
#quantidade{
    font-size: medium;
    text-align: center;
    border-top: 40px;
    display: table-cell;
    vertical-align: middle;
}
#preço{
    font-weight: 900;
    color: black;
    font-size: 25px;
}
.carrossel{
    width: 500px;
    height: 500px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    position: absolute;
    top:200px;
    left: 300px;
}
.conteiner{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.img{
    object-fit: cover;
    width: 500px;
    height: 500px;
}
.img_menor{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.conteiner_menor{
    display: flex;
    flex-direction: row;
    columns: 100px 100px 100px;
    justify-content: center;
    width: 100px;
    height: 100px;
    gap: 20px;
    position: absolute;
    top:720px;
    left: 500px;
}
.img_menor{
    object-fit: cover;
    width: 100px;
    height: 100px; 
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
}
.img_menor:hover{
    border: solid 5px orange;
    cursor: pointer;
    filter: contrast(1.5) grayscale(50%);
}
#container{
    width: 50px;
}
#corpo{
    z-index: 1;
}
#fundo_preto{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.7;
}